*{
    padding: 0;
    margin: 0;
}

body{
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222831;
}

.container{
    background-color: #393E46;
    display: flex;
    width: 500px;
    height: 420px;
    padding: 30px;
    border-radius: 70px;
    box-shadow: 2px 2px 25px #f8802f;
    border: 2px solid #1d2029;
}

.forms{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 124px;
}

.form-header{
    position: fixed;
    display: flex;
    margin-bottom: 21%;
    margin-left: 0rem;
    margin-right: 14rem;
    align-items: center;
    justify-content: center;
}

.form-header h1::after{
    content: '';
    display: block;
    width: 80px;
    height: 5px    ;
    margin: 0 auto;
    background-color: #FD7014;
    position: absolute;
    border-radius: 25px;
}

.titulo h1{
    color: #f8ddcc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
}

.btnSignUp{
    display: flex;
    align-items: center;
}

.btnSignUp button{
    display: flex;
    margin-left: 7rem; 
    justify-content: space-between;
    border: 2px solid #FD7014;
    background-color: #fc9856;
    border-radius: 15px;
    padding: 8px 22px;
    transition: 0.5;
    cursor: pointer;
}

.btnSignUp button:hover{
    border-radius: 13px;
    transition: 0.5;
    background-color: #f77c2a;
    border: 2px solid #b64a02;
}

.btnSignUp button a{
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.boxtext{
    margin-top: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;   

}

.caixadetexto{
    display: flex;
    margin-top: 38px;
    height: 2rem;
    padding: 0 20px;
    position: relative;
    align-items: center;
    justify-content: center;
}

label{
    display: flex;
    color: #f0ca62;
    padding: 0 72px;
    margin: 0 23px;
    align-items: center;
    top: 0;
    left: 0;
}

input[type='password'],
input[type='email']{
    box-shadow: 1px 1px 8px #f8802f;
    font-size: 1em;
    border-radius: 18px;
    width: 15rem;
    height: 110%;
    border: 2px solid #f3cc61;
    align-items: center;  
    justify-content: center;
    position: absolute;
    outline: none;
}

input:focus{
    transition: 0.5s ease-in-out;
    border-radius: 15px;
    width: 18rem;
}

.containerdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.50rem;
    padding: 0 0 .5rem;
}

.faixabaixa{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: absolute;
}

input[type='radio']{
    display: inline;
    width: 10px;
    height: 10px;
}