*{
    padding: 0;
    margin: 0;
}

body{
    position: fixed;
    width: 100%;
    height: 100vh;
    align-items: center;
    background-color: #222831;
}

header {
    display: flex;
    justify-content: center;
}

img {
    margin-left: 45px;
    max-width: 250px;
    max-height: 250px;
    position: absolute;
}

section {
    display: flex;
    justify-content: center;
}

.container{
    margin: 60px 0 0 0;
    display: flex;
    justify-content: center;
    background-color: #393E46;
    width: 820px;
    height: 500px;
    padding: 30px;
    border-radius: 70px;
    box-shadow: 2px 2px 25px #f8802f;
    border: 2px solid #1d2029;
}

.forms{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50%;
    margin-right: 50%;
}

.form-header{
    position: fixed;
    display: flex;
    margin-bottom: 20%;
    margin-right: 50%;
    margin-left: 50%;
    align-items: center;
    justify-content: center;
}

.form-header h1::after{
    content: '';
    display: block;
    width: 80px;
    height: 5px    ;
    background-color: #FD7014;
    border-radius: 25px;
}

.titulo h1{
    color: #f8ddcc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
}

.btnSignUp{
    display: flex;
    align-items: center;
}

.btnSignUp button{
    display: flex;
    margin-left: 7rem; 
    justify-content: space-between;
    border: 2px solid #FD7014;
    background-color: #fc9856;
    border-radius: 15px;
    padding: 8px 22px;
    transition: 0.5;
    cursor: pointer;
}

.btnSignUp button:hover{
    border-radius: 13px;
    transition: 0.5;
    background-color: #f77c2a;
    border: 2px solid #b64a02;
}

.btnSignUp button a{
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.boxtext{
    display: flex;
    justify-content: center;
    flex-direction:row;
    flex-wrap: wrap;
}   

.caixadetexto{   
    display: flex;
    justify-content: center;
    padding: 17px;
    flex-wrap: wrap;
    position: relative;
}

input{
    padding-left: 20px;
    padding-right: 10px;
}

input[type='password'],
input[type='email']{
    box-shadow: 1px 1px 8px #f8802f;
    font-size: 1em;
    border-radius: 17px;
    width: 17rem;
    height: 110%;
    margin-left: 11px;
    margin-right: 27px;
    border: 2px solid #f3cc61;
    align-items: center;  
    justify-content: center;
    position: absolute;
    outline: none;
    transition: 0.5s;
}

.containerdown{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.links{
    display: block;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-right: 140px;
}

.links button{
    background-color: transparent;
    border: 0;
}

.links button a{
    color: #f77c2a;
}

.checagem input[type="checkbox"]{
    width: 12px;
}

.checagem input[type="checkbox"] + label{
    cursor: pointer;
}

.btncontinue{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 377px;
    margin-left: 133px;
    position: absolute;
}

.btncontinue button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 60px;
    margin-right: 60%;
    background-color: #f8802f;
    border: 1px solid #b64a02;
    border-radius: 7px;
    transition: 0.5s;
    cursor: pointer;
}

.btncontinue button a{
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: #1d2029;
}

.btncontinue button:hover{
    transition: 0.5s;
    padding: 10px 74px;
    background-color: rgb(197, 104, 43);
}

.icons{
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-left: 215px;
}

.label_remember {
    color: #8f9092;
}